$breakpoints: (
	sm: (
		min: 640px,
		max: 635.98px,
	),
	md: (
		min: 768px,
		max: 767.98px,
	),
	lg: (
		min: 1024px,
		max: 1023.98px,
	),
	xl: (
		min: 1280px,
		max: 1279.98px,
	),
	xxl: (
		min: 1536px,
		max: 1535.98px,
	),
);
