.navigation {
	position: fixed;
	bottom: 30px;
	left: 0;
	right: 0;
	background: $menu;
	z-index: 10;
	padding-top: 12px;
	padding-bottom: 14px;

	@include breakpoint(lg) {
		display: none;
	}

	&-list {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__item {
			& > a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				gap: 10px;
				font-size: 12px;

				color: $white;
			}
		}
	}
}
